

body {
  background-color: #f8b1ac;
  color: #fe2828;
  font-family: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.touch {
  color: #fe2828;
  word-spacing: 0.3em;
}

.links:hover {
  color: #323232;
  transition: all 0.5s ease;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #fe2828;
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.buttons:hover {
  color: #fe2828;
  transition: all 0.3s ease;
}

h1 {
  font-size: 5em;
}

h5 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 2;
}

p {
  color: #323232;
}

.name {
  border-bottom: 4px solid currentColor;
}

.line {
  width: 112px;
  height: 60px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-left: 1em;
  margin-right: 1em;
}

.line2 {
  width: 200px;
  height: 60px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-left: 1em;
  margin-right: 1em;
}

.end {
  width: 50vh;
}

.widthC{
  width: 50vw;
}



@keyframes blink {
  from {
    color: #323232;
  }
  to {
    color: #fe2828;
  }
}
