body {
  background-color: #f8b1ac;
  color: #fe2828;
  font-family: "Playfair Display", serif;
}

.touch {
  color: #fe2828;
  word-spacing: 0.3em;
}

.links:hover {
  color: #323232;
  transition: all 0.5s ease;
}

.buttons:hover {
  color: #fe2828;
  transition: all 0.3s ease;
}

h1 {
  font-size: 5em;
}

p {
  color: #323232;
}

.name {
  border-bottom: 4px solid currentColor;
}

.line {
  width: 112px;
  height: 60px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-left: 1em;
  margin-right: 1em;
}

.line2 {
  width: 200px;
  height: 60px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-left: 1em;
  margin-right: 1em;
}
