html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  background-color: #f8b1ac;
  color: #fe2828;
  font-family: "Playfair Display", serif;
}

#Home {
  height: 100vh;
}

.home {
  display: none !important;
}

#About {
  height: 93vh;
  background-color: #fe2828;
  color: white;
}

.abouth {
  height: 85%;
}

.about {
  margin-left: 4%;
  margin-right: 4%;
  max-width: 1000px;
}

.line {
  margin: auto;
  width: 60px;
  height: 10px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.line2 {
  margin: auto;
  width: 100%;
  height: 10px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  visibility: hidden;
}

.line3 {
  margin: auto;
  width: 150px;
  height: 10px;
  border-bottom: 4px solid #fe2828;
  /* position: absolute; */
  margin-left: 1em;
  margin-right: 1em;
}

.job {
  border-bottom: 4px solid currentColor;
}

h1 {
  font-size: 5.3em;
  text-align: center;
}

h4 {
  font-size: 1em;
  word-wrap: break-word;
  text-align: center;
}

h5 {
  font-size: 1.2em;
  word-wrap: break-word;
  text-align: center;
}

p {
  text-align: center;
  color: #323232;
  max-width: 60%;
}

.arrow {
  font-size: 1.7em;
}

.mindscape {
  border-radius: 12px;
  max-height: 300px;
}

.zodiaction {
  max-width: 500px;
}

.blink:hover,
.blink:visited,
.blink:link,
.blink:active {
  text-decoration: none;
  color: #fe2828;
  animation-duration: 2500ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    color: #323232;
  }
  to {
    color: #fe2828;
  }
}

.video {
  width: 100%;
  padding: 5%;
}

img{
  max-width: 500px;
  margin-left: 5%
}

.works {
  height: 100vh;
}

.card-text {
  max-width: 500px;
}

.card {
  background-color: #f8b1ac;
  border: 7px double #fe2828;
  max-width: 90%;
}

.tech {
  color: #fe2828;
}

@media only screen and (max-width: 900px) {
  .line2 {
    visibility: visible;
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
  }

  .hide {
    display: none;
  }
  .home {
    display: block !important;
  }
  .bigscreen {
    display: none !important;
  }
  img{
    max-width: 500px;
    margin-left: 0;
  }
}

.arrowab {
  color: white;
  font-size: 1.7em;
  text-decoration: none;
}

.arrowhm {
  color: #fe2828;
  font-size: 1.7em;
  text-decoration: none;
}

.mailto {
  text-decoration: none;
  color: #323232;
}
